:root {
  --swiper-navigation-color: #ffd700ff !important;
  --swiper-theme-color: #ffd700ff !important;
}
.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 80%;
}

.swiper-pagination-bullet {
  margin-right: 10px; /* 원하는 간격으로 조절 */
  margin-top: 10px; /* 간격 조절 */
}

.swiper-container {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateY(50%);
  z-index: 1; /* pagination을 슬라이더 위에 표시하기 위해 z-index 조정 */
}
